.moveset {
  margin-top: 1rem;
  height: 180px;
  overflow: scroll;
  font-size: 0.85em;
  z-index: 1;
}
.moveset table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
}
.moveset table tbody tr {
  border-bottom: 4px solid #fff;
}
.moveset table td {
  padding: 0 0.2rem;
}
.moveset table th {
  text-align: left;
  padding: 0.25rem;
  background: #fff;
  box-shadow: inset 0 0 0 4px #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-transform: uppercase;
  font-size: 0.8em;
}
@media screen and (max-width: 650px) {
  .moveset {
    max-height: 0;
  }
}
#searchlist {
  position: relative;
  border-bottom: 3px solid #fff;
  border-radius: 0;
  padding: 0.2rem;
  z-index: 10000;
}
#searchlist input {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background: transparent;
}
#searchlist input:focus + .list {
  display: block;
}
#searchlist .list {
  width: 100%;
  background: #222;
}
#searchlist .list div {
  mix-blend-mode: multiply;
  background: #444 !important;
  color: #e3e3e3;
  border-bottom: 3px solid #222 !important;
}
#searchlist .list div:hover {
  background: #aaa !important;
  color: #222;
}
#searchlist .list .types {
  overflow: hidden;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  display: flex;
  right: 0;
  font-size: 0.8em;
  z-index: -1;
  position: absolute;
  color: #fff;
}
#searchlist .list .types span {
  color: #fff;
}
#searchlist .pokemon-id {
  color: inherit;
  font-size: 0.8em;
  margin-right: 0.25rem;
  opacity: 0.6;
}
#search + .list:hover,
#search:focus + .list {
  height: inherit !important;
}
#search + .list {
  box-shadow: none;
  border-radius: "px";
  height: 0 !important;
  border: none;
}
@media screen and (max-width: 700px) {
  .list .types span .text {
    display: none;
  }
  .list .types span {
    border-radius: 100px !important;
    padding: 0 !important;
    height: 10px !important;
    width: 10px !important;
    line-height: 1 !important;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
main {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select {
  margin: 0;
}
button {
  overflow: visible;
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
input {
  overflow: visible;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
select {
  text-transform: none;
}
textarea {
  margin: 0;
  overflow: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
details,
dialog {
  display: block;
}
dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
summary {
  display: list-item;
}
template {
  display: none;
}
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
  background: #ddd;
  color: #222;
}
* {
  box-sizing: border-box;
}
hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
.types {
  background: inherit;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1px 0;
}
#types :empty,
.undefined {
  display: none !important;
}
input {
  font-size: inherit;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
button.delete {
  width: 23px;
  height: 23px;
  top: -10px;
  right: -10px;
  position: absolute;
  color: transparent;
  background: transparent;
  margin-top: -2px;
  border: 0;
  font-weight: 600;
}
button.delete:hover {
  background: #0ad7f1;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.05);
  color: #068c9d;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.box > div {
  margin: 0.25rem 0.5rem;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gray {
  color: #aaa;
}
.small {
  font-size: 0.8em;
}
.level:hover {
  background: rgba(7, 205, 7, 0.73);
}
input[type="radio"] {
  display: none;
}
.ability {
  font-size: 80%;
}
.ability label {
  margin-right: 1rem;
}
.ability input[type="radio"]:checked + label {
  border-bottom: 2px solid #07cd07;
}
#abilityDesc {
  opacity: 0.8;
  font-size: 80%;
}
.flexbox-grid {
  display: grid;
}
.abilities {
  display: flex;
  align-items: baseline;
  white-space: pre;
}
@media screen and (max-width: 600px) {
  .flexbox-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .abilities {
    flex-grow: 2;
  }
  .pokeId {
    position: absolute;
    right: 0;
    padding: 0 4px;
    justify-content: flex-start;
  }
  [data-component="StatChart"] {
    order: 3;
  }
}
h1 {
  margin: unset;
}
button.lock {
  background: transparent;
  border: 0;
  padding: 0;
}
[data-locked="true"] input,
[data-locked="true"] label,
[data-locked="true"] select {
  background: #ddd;
  color: #777;
  border: 0;
}
[data-locked="true"] button.delete {
  display: none !important;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.textfield::-webkit-outer-spin-button,
.textfield[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  text-align: center;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #222;
  color: #fff;
  padding: 1.4rem 0;
}
.header .container {
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
