.moveset {
  margin-top: 1rem;
  height: 180px;
  overflow: scroll;
  font-size: 0.9em;
  font-weight: 600;
}
.moveset table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
}
.moveset table tbody tr {
  border-bottom: 4px solid #fff;
}
.moveset td {
  padding: 0 0.2rem;
}
.moveset th {
  text-align: left;
  padding: 0.25rem;
  background: #fff;
  box-shadow: inset 0 0 0 4px #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-transform: uppercase;
  font-size: 0.8em;
}
.moveset .icon svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  padding: 0.1rem;
  -webkit-filter: opacity(0.9);
  filter: opacity(0.9);
}
@media screen and (max-width: 650px) {
  .moveset {
    max-height: 100px;
  }
}
#searchlist {
  position: relative;
  border-bottom: 3px solid #fff;
  border-radius: 0;
  padding: 0.2rem;
  z-index: 10000;
}
#searchlist input {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background: transparent;
}
#searchlist input:focus + .list {
  display: block;
}
#searchlist .list {
  width: 100%;
  background: #222;
}
#searchlist .list div {
  mix-blend-mode: multiply;
  background: #444 !important;
  color: #e3e3e3;
  border-bottom: 3px solid #222 !important;
}
#searchlist .list div:hover {
  background: #aaa !important;
  color: #222;
}
#searchlist .list .types {
  overflow: hidden;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  display: flex;
  right: 0;
  font-size: 0.8em;
  z-index: -1;
  position: absolute;
  color: #fff;
}
#searchlist .list .types span {
  color: #fff;
}
#searchlist [before]:before {
  color: inherit;
  font-size: 0.8em;
  margin-right: 0.25rem;
  opacity: 0.6;
}
#search + .list:hover,
#search:focus + .list {
  height: inherit !important;
}
#search + .list {
  box-shadow: none;
  border-radius: "px";
  height: 0 !important;
  border: none;
}
@media screen and (max-width: 700px) {
  .list .types span .text {
    display: none;
  }
  .list .types span {
    border-radius: 100px !important;
    padding: 0 !important;
    height: 10px !important;
    width: 10px !important;
    line-height: 1 !important;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
main {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select {
  margin: 0;
}
button {
  overflow: visible;
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
input {
  overflow: visible;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
select {
  text-transform: none;
}
textarea {
  margin: 0;
  overflow: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
details,
dialog {
  display: block;
}
dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
summary {
  display: list-item;
}
template {
  display: none;
}
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-weight: 500;
  margin: 0;
  background: #222;
}
* {
  box-sizing: border-box;
}
.types {
  background: inherit;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1px 0;
}
#types :empty,
.undefined {
  display: none !important;
}
.flex {
  display: flex;
}
.flex-wrap,
.flex .flex-wrap {
  flex-wrap: wrap;
}
.column,
.flex .column {
  flex-direction: column;
}
.flex .row,
.row {
  flex-direction: row !important;
}
input {
  font-size: inherit;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.space-between {
  justify-content: space-between;
}
button.delete {
  width: 23px;
  height: 23px;
  top: -10px;
  right: -10px;
  position: absolute;
  color: transparent;
  background: transparent;
  margin-top: -2px;
  border: 0;
  font-weight: 600;
}
button.delete:hover {
  background: #0ad7f1;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.05);
  color: #068c9d;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.white-space {
  white-space: pre-wrap;
}
button.add {
  font-size: 1.5rem;
  position: fixed;
  bottom: 10px;
  left: 10px;
  margin: 0 1rem;
  line-height: 1.2;
  border-radius: 100%;
}
button span {
  padding: 0 0.34rem;
}
button.add {
  color: #0f457a;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 1.75rem;
  min-width: 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: #1976d2;
  border: 0;
}
button.add:hover {
  background-color: #0c60b3;
}
[after]:after {
  content: attr(after);
}
[after]:after,
[before]:before {
  color: #000;
  width: 100%;
  text-align: center;
}
[before]:before {
  content: attr(before);
}
.small {
  font-size: 0.8em;
}
.bar {
  mix-blend-mode: difference;
}
.box > div {
  margin: 0.25rem;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.moveset {
  flex-grow: 2 !important;
}
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.level {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0 4px transparent;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 0.2rem;
}
.level:hover {
  box-shadow: 0 0 0 2px #07cd07;
  background: rgba(7, 205, 7, 0.73);
}
.move-item {
  border: 2px solid #000;
}
.abilities {
  align-items: baseline;
  align-content: center;
  justify-content: flex-start;
  display: flex;
  font-size: 0.8em;
  position: relative;
  background: inherit;
}
input[type="radio"] {
  display: none;
}
.ability input[type="radio"]:checked + label {
  border: 2px solid #07cd07;
  background: rgba(7, 205, 7, 0.73);
}
.ability {
  white-space: pre;
  background: #fff;
  color: #444;
}
.ability input[type="radio"] + label {
  padding: 0.1rem 0.35rem;
  border-radius: 20px;
  border: 2px solid transparent;
}
.gray {
  color: #777 !important;
}
.ability input[type="radio"] + label:before {
  display: none;
  position: absolute;
  font-size: 0.85em;
  padding: 0.3rem;
  background: #000;
  color: #fff;
  bottom: 0;
  margin-bottom: 60px;
  min-width: 33.33333%;
  z-index: 1000;
  white-space: pre-wrap;
  content: attr(data-desc);
}
.ability input[type="radio"] + label:hover:before {
  content: attr(data-desc);
  display: flex !important;
}
@media screen and (max-width: 500px) {
  .abilities {
    flex-grow: 3;
    width: 100%;
  }
}
.abilities,
h1,
strong {
  letter-spacing: -0.25px;
}
.center {
  text-align: center;
}
.margin-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.m25 {
  margin: 0.25rem;
}
.p25 {
  padding: 0.25rem;
}
.m50 {
  margin: 0.5rem;
}
.p50 {
  padding: 0.5rem;
}
.m100 {
  margin: 1rem;
}
.p100 {
  padding: 1rem;
}
.m150 {
  margin: 1.5rem;
}
.p150 {
  padding: 1.5rem;
}
.m200 {
  margin: 2rem;
}
.p200 {
  padding: 2rem;
}
.margin-top {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.padding-top {
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.margin-right {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.padding-right {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.absolute {
  position: absolute;
}
.absolute.top {
  top: 0;
}
.absolute.left {
  left: 0;
}
.absolute.bottom {
  bottom: 0;
}
.absolute.right {
  right: 0;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
button.lock {
  background: transparent;
  border: 0;
  padding: 0;
}
[data-locked="true"] input,
[data-locked="true"] label,
[data-locked="true"] select {
  background: #ddd;
  color: #777;
  border: 0;
}
[data-locked="true"] button.delete {
  display: none !important;
}
[data-locked="true"] .ability input[type="radio"]:checked + label {
  background: #888;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.icon svg:hover {
  opacity: 0.8;
}
.textfield::-webkit-outer-spin-button,
.textfield[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  text-align: center;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000;
  background: #222;
  color: #fff;
  padding: 2rem 0;
}
.header .container {
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
