$positions: ('top', 'left', 'bottom', 'right');

.absolute {
  position: absolute;
}

@each $position in $positions {
  .absolute.#{$position} {
    #{$position}: 0;
  }
}

.flex-grow- {
  &0 {
    flex-grow: 0;
  }
  &1 {
    flex-grow: 1;
  }
  &2 {
    flex-grow: 2;
  }
  &3 {
    flex-grow: 3;
  }
}

[data-locked='true'] {
  input {
    background: #000;
  }
  button.delete {
    display: none !important;
  }

  .ability input[type='radio']:checked + label {
    filter: grayscale(1);
  }
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
