$positions: ('top', 'left', 'bottom', 'right');
$sizes: (25, 50, 100, 150, 200);

@each $size in $sizes {
  .m#{$size} {
    margin: #{$size/100}#{rem};
  }
  .p#{$size} {
    padding: #{$size/100}#{rem};
  }
}

@each $position in $positions {
  .margin-#{$position} {
    @each $p in $positions {
      @if $p != $position {
        margin-#{$p}: 0;
      }
    }
  }
  .padding-#{$position} {
    @each $p in $positions {
      @if $p != $position {
        padding-#{$p}: 0;
      }
    }
  }
}

.absolute {
  position: absolute;
}

@each $position in $positions {
  .absolute.#{$position} {
    #{$position}: 0;
  }
}

.flex-grow- {
  &0 {
    flex-grow: 0;
  }
  &1 {
    flex-grow: 1;
  }
  &2 {
    flex-grow: 2;
  }
  &3 {
    flex-grow: 3;
  }
}

button.lock {
  background: transparent;
  border: 0;
  padding: 0;
}

[data-locked='true'] {
  input,
  select,
  label {
    background: #ddd;
    color: #777;
    border: 0;
  }
  button.delete {
    display: none !important;
  }

  .ability input[type='radio']:checked + label {
    background: #888;
    color: white;
  }
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.icon svg:hover {
  opacity: 0.8;
}

.textfield::-webkit-outer-spin-button,
.textfield[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10000;
  background: #222;
  color: #fff;
  padding: 2rem 0;
}
.header .container {
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
