#searchlist {
  width: fit-content;
  position: relative;
  border: 3px solid #eee;
  border-radius: 4px;
  padding: 0.2rem;

  input {
    // width: 100%;
    width: fit-content;
    position: sticky;
    // top: 0;

    &:focus + .list {
      display: block;
    }
    &:hover,
    &:focus {
      // background: #343430;
      // color: #ffffff;
    }
  }

  .list {
    width: 100%;
    background: #eee;

    div {
      background: #eee;
      mix-blend-mode: multiply;
      background: #eee !important;
      border-bottom: 3px solid #e3e3e3 !important;

      &:hover {
        background: #aaa !important;
        color: #222;
      }
    }

    .types {
      overflow: hidden;
      align-content: center;
      justify-content: center;
      flex-grow: 1;
      align-items: center;
      display: flex;
      right: 0;
      font-size: 0.8em;
      z-index: -1;
      position: absolute;
      color: white;

      span {
        color: white;
      }
    }
  }

  [before]:before {
    color: inherit;
    font-size: 0.8em;
    margin-right: 0.25rem;
    opacity: 0.6;
  }
}

#search {
  &:focus + .list,
  + .list:hover {
    height: inherit !important;
    // border: 2px solid #ddd !important;
    // box-shadow: inset 0 0 0px 2px #000, 0 0 3px 2px rgba(0, 0, 0, 0.1);
  }
  & + .list {
    box-shadow: none;
    border-radius: 'px';
    height: 0px !important;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .list .types span .text {
    display: none;
  }

  .list .types span {
    border-radius: 100px !important;
    padding: 0 !important;
    height: 10px !important;
    width: 10px !important;
    line-height: 1 !important;
  }
}

// .list {
//   background: #ddd !important;
//   box-shadow: 3px 0px 0 0 #ddd, -3px 0px 0 0 #ddd, inset 0px -4px 0 0 #ddd !important;
// }

// .list div {
//   border: 0 !important;
// }

// .list div {
//   box-shadow: inset 0 -2px 0 0px rgba(255, 255, 255, 0.6);
// }

// .side-icon svg {
//   fill: #888;
// }
// h1,
// strong,
// .abilities {
//   letter-spacing: -0.25px;
// }
// .center {
//   text-align: center;
// }
