#searchlist {
  position: relative;
  border-bottom: 3px solid #fff;
  border-radius: 0px;
  padding: 0.2rem;
  z-index: 10000;

  input {
    width: 100%;
    position: sticky;
    background: transparent;
    &:focus + .list {
      display: block;
    }
  }

  .list {
    width: 100%;
    background: #222;

    div {
      mix-blend-mode: multiply;
      background: #444 !important;
      color: #e3e3e3;
      border-bottom: 3px solid #222 !important;

      &:hover {
        background: #aaa !important;
        color: #222;
      }
    }

    .types {
      overflow: hidden;
      align-content: center;
      justify-content: center;
      flex-grow: 1;
      align-items: center;
      display: flex;
      right: 0;
      font-size: 0.8em;
      z-index: -1;
      position: absolute;
      color: white;

      span {
        color: white;
      }
    }
  }

  [before]:before {
    color: inherit;
    font-size: 0.8em;
    margin-right: 0.25rem;
    opacity: 0.6;
  }
}

#search {
  &:focus + .list,
  + .list:hover {
    height: inherit !important;
  }
  & + .list {
    box-shadow: none;
    border-radius: 'px';
    height: 0px !important;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .list .types span .text {
    display: none;
  }

  .list .types span {
    border-radius: 100px !important;
    padding: 0 !important;
    height: 10px !important;
    width: 10px !important;
    line-height: 1 !important;
  }
}
