body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.types {
  background: inherit;
  user-select: none;
  margin: 1px 0;
}

.undefined,
#types *:empty {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex .column,
.column {
  flex-direction: column;
}

.flex .row,
.row {
  flex-direction: row !important;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  font-size: inherit;
  text-align: center;
  width: max-content;
}

.space-between {
  justify-content: space-between;
}

.w50 {
  min-width: 55px;
}

button.delete {
  width: 23px;
  height: 23px;
  top: -10px;
  right: -10px;
  position: absolute;
  color: transparent;
  background: transparent;
  margin-top: -2px;
  border: 0;
  font-weight: 600;
}

button.delete:hover {
  background: #0ad7f1;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.05);
  color: #068c9d;
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[disabled] {
  background: #ddd;
}

.white-space {
  white-space: pre-wrap;
}

button.add {
  font-size: 1.5rem;
  position: fixed;
  bottom: 10px;
  left: 10px;
  margin: 0 1rem;
  line-height: 1.2;
  border-radius: 100%;
}

button span {
  padding: 0 0.34rem;
}

button.add {
  color: #0f457a;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 1.75rem;
  min-width: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: #1976d2;
  border: 0;
}

button.add:hover {
  background-color: #0c60b3;
}

[before]:before {
  content: attr(before);
  position: absolute;
  color: black;
  width: 100%;
  text-align: center;
}

.small {
  font-size: 0.8em;
}

.bar {
  mix-blend-mode: difference;
}

.box > div {
  margin: 0.25rem;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.moveset {
  flex-grow: 2 !important;
}

.no-select {
  user-select: none;
}

.level {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0 4px transparent;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 0.2rem;
}

.level:hover {
  box-shadow: 0 0 0 2px #07cd07;
  background: #07cd07ba;
}

.dropdown {
  background: #0074d9 !important;
  margin-top: -5px;
  margin-left: 2px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 2px solid #000;
  z-index: -1;
  max-width: 96%;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.move-item {
  border: 2px solid #000;
}

.abilities {
  /*   flex-wrap: wrap; */
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  display: flex;
  font-size: 0.8em;
  margin: 0.5rem 0;
  position: relative;
}

input[type='radio'] {
  display: none;
}

.ability input[type='radio']:checked + label {
  border: 2px solid #07cd07;
  background: #07cd07ba;
}

.ability {
  white-space: pre;
  background: #222;
}

.ability input[type='radio'] + label {
  padding: 0.1rem 0.35rem;
  border-radius: 20px;
  border: 2px solid transparent;
}

.gray {
  color: #777 !important;
}

.ability input[type='radio'] + label:before {
  display: none;
  position: absolute;
  font-size: 0.8em;
  padding: 0.3rem;
  background: black;
  bottom: 0;
  margin-bottom: 30px;
  max-width: calc(100% / 3);
  z-index: 10;
  white-space: pre-wrap;
  content: attr(data-desc);
}

.ability input[type='radio'] + label:hover:before {
  content: attr(data-desc);
  display: flex !important;
}
