body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:sans-serif;
  font-weight:500;
  overflow-x:hidden;
  
}


h1,strong, .abilities{
  letter-spacing:-.25px
}
.center{
  text-align: center;
}